body {
  margin: 0;
  padding: 0;
  background-color: #FFEDD7;
  font-family: "Source Sans Pro","Roboto","Open Sans",Arial,sans-serif;
}

.current-char {
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bolder;
}
